@model IEnumerable<JSPs.Models.BusLine>

@{
    ViewBag.Title = "Index";
}

<h2>ПРЕГЛЕД НА ЛИНИИ</h2>

<div class="form-group">
    <div>
        <input type="submit" value="Додади нова линија" onclick="location.href='@Url.Action("Create", "BusLines")'" class="btn btn-primary" />
    </div>
</div>

<table class="table" id="busLinesTable">
    <thead>
        <tr>
            <th>
                Линија
            </th>
            <th></th>
        </tr>

    </thead>
    <tbody>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id }) |
                    @Html.ActionLink("See bus schedule", "SeeBuses", new { id = item.Id })
                </td>
            </tr>
        }

    </tbody>
</table>

@section Scripts{
    <script>
        $(document).ready(function () {
            $("#busLinesTable").DataTable();
        })
    </script>
    
    }
