@model IEnumerable<JSPs.Models.Bus>

@{
    ViewBag.Title = "SeeBuses";
}

<h2>List of all busses</h2>

<table class="table" id="busList">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Capacity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BusLine)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartTime)
            </th>
            <th></th>
        </tr>

    </thead>
    <tbody>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Capacity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BusLine)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartTime)
                </td>
               
            </tr>
        }
    </tbody>
</table>
@section Scripts{
    <script>
        $(document).ready(function () {
            $("#busList").DataTable();
        })
    </script>

}