@model JSPs.Models.IndexViewModel
@{
    ViewBag.Title = "Manage";
}



<p class="text-success">@ViewBag.StatusMessage</p>
<div>

    <h3>Hello @ViewBag.Name</h3>
    @{
        string url = ViewBag.imgUrl;
        <img src=@url width="200" >
    }
<div class="panel panel-default">
    <div class="panel-heading panel-info">Your Tickets</div>
    <div class="panel-body">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Bus No.</th>
                    <th>StartDestination</th>
                    <th>EndDestination</th>
                    <th>Time</th>
                </tr>
                
            </thead>
            <tbody>
                @foreach (var ticket in Model.tickets)
                {
                <tr>
                    <td>@ticket.Bus.BusLine</td>
                    <td>@ticket.StartDestination.Name</td>
                    <td>@ticket.EndDestination.Name</td>
                    <td>@ticket.DateOfReservation.ToShortDateString()</td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>
   


    <hr />

    <dl class="dl-horizontal">
        <dt>Want to change your password?</dt>
        <dd>
            [
            @if (Model.HasPassword)
            {
                @Html.ActionLink("Change password", "ChangePassword")
            }
            else
            {
                @Html.ActionLink("Create", "SetPassword")
            }
            ]
        </dd>

    </dl>
</div>
