@model JSPs.Models.Bus

@{
    ViewBag.Title = "Delete";
}



<h3>Дали сте сигурни дека сакате да ја избришете постојката?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Capacity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Capacity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BusLine)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BusLine)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartTime)
        </dt>

        <dd>
            @Model.StartTime.ToShortTimeString()
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Избриши" class="btn btn-default" /> |
            @Html.ActionLink("Назад кон листа", "Index")
        </div>
    }
</div>
