@model JSPs.Models.Bus

@{
    ViewBag.Title = "Details";
}

<h2>ПОВЕЌЕ ИНФОРМАЦИИ</h2>

<div>
    <h4>Bus</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Capacity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Capacity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BusLine)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BusLine)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartTime)
        </dt>

        <dd>
            @Model.StartTime.ToShortTimeString()
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BusStops)
        </dt>
        <dd>
            <ul>
                @{ for (int i = 0; i < Model.BusStops.Count; i++)
                    {
                        <li>@Model.BusStops[i].Name</li>
                    }
                }
            </ul>
        </dd>


    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
