@model IEnumerable<JSPs.Models.Bus>

@{
    ViewBag.Title = "Index";
}

<h2>ПРЕГЛЕД НА АВТОБУСИ</h2>

<div class="form-group">
    <div>
        <input   class="btn btn-primary" type="submit" value="Додади нов автобус" onclick="location.href='@Url.Action("Create", "Buses")'" />
    </div>
</div>

<table class="table" id="busTable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BusLine)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Capacity)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BusLine)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Capacity)
            </td>
            <td>
                @Html.ActionLink("Route", "Route", new { id = item.ID }) |
                @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ID })
            </td>
        </tr>
        }
    </tbody>

    </table>

@section Scripts{
<script>
    $(document).ready(function () {
        $("#busTable").DataTable();
    })
</script>    
}
