@model JSPs.Models.BusBusStops

@{
    ViewBag.Title = "Route";
}

<h2>@Model.Bus.BusLine</h2>

<h2>Route</h2>
@foreach (JSPs.Models.BusStop busStop in ViewBag.Test)
{
    <h6 style="display:inline"> @busStop.Name -> </h6>
}

@using (Html.BeginForm("Route", "Buses"))
{
    @Html.DropDownListFor(m => m.BusStopId,
                    new SelectList(Model.BusStops, "ID", "Name"),
                    "Select Stop")

    @Html.HiddenFor(m => m.BusId)
    <button type="submit" class="btn btn-default">Add</button>
}

@Html.ActionLink("Done", "Index", "Buses", new { @class = "btn btn-default" })
