@model JSPs.Models.Ticket

@{
    ViewBag.Title = "CreateDily";
}

<h2>НОВ БИЛЕТ</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.DateOfReservation, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @{
                    string[] date = DateTime.Today.Date.ToString().Split(' ');
                    @date[0]
                    //neshto ovakvo da se deshava
                    //Model.DateOfReservation = DateTime.Today;
                }
            </div>
        </div>
        <div>
            Линија:
        </div>
        <div>
            @{
                // isto neshto u vakov stil ama ne znam kako da ja zememe linijata
                // @Model.Bus.BusLine}
            }
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.StartDestination, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <select>
                    <option></option>
                </select>
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.EndDestination, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <select>
                    <option></option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

