@model JSPs.Models.CreateTicketModel

@{
    ViewBag.Title = "CreateDily";
}

<h2>НОВ БИЛЕТ</h2>


@using (Html.BeginForm("TicketConfirmed","Tickets"))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.DateOfReservation, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.Label(@DateTime.Today.ToString().Split(' ')[0])

            </div>
        </div>
        <div class="form-group">
            @Html.Label("Линија", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @{ string busLine = ViewBag.busLine;}
                @Html.Label(busLine)
            </div>

        </div>
        <div class="form-group">
            @Html.Label("Почетна постојка", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.StartBusStopId, new SelectList(Model.StartBusStops,"ID","Name"))
            </div>
        </div>
        <div class="form-group">
            @Html.Label("Крајна постојка", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.EndBusStopId, new SelectList(Model.EndBusStops, "ID", "Name"))
            </div>
        </div>
        @Html.HiddenFor(model => model.BusId)
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Потврди" class="btn btn-default" />
            </div>
        </div>
    </div>
}

