@model IEnumerable<JSPs.Models.Ticket>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table" id="ticketsTable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DateOfReservation)
            </th>
            <th>
                @Html.Label("Број на автобус")
            </th>
            <th>
                @Html.Label("Почетна постојка")
            </th>
            <th>
                @Html.Label("Крајна постојка")
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayTextFor(modelItem => item.DateOfReservation)
            </td>
            <td>
                <a href='@Url.Action("Details", "Buses", new { id = item.Bus.ID})'>@item.Bus.BusLine</a>
            </td>
            <td>
                @Html.ActionLink(item.StartDestination.Name, "Index", "BusStops")
            </td>
            <td>
                @Html.ActionLink(item.EndDestination.Name, "Index", "BusStops")
            </td>

            <td>
                @Html.ActionLink("Delete", "Delete", new { id = item.ID })
            </td>
        </tr>
        }
    </tbody>

</table>

@section Scripts{
   <script>
       $(document).ready(function () {
           $("#ticketsTable").DataTable();
       })
    </script>
    }
