@model JSPs.Models.BusStop

@{
    ViewBag.Title = "Details";
}

<h2>Повеќе информации</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
           @Html.DisplayNameFor(model => model.Buses)
        </dt>
        <dd>
                @foreach (var item in Model.Buses)
                {
                    <span>@item.BusLine </span>
                }
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Измени", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Назад кон листа", "Index")
</p>
