@model IEnumerable<JSPs.Models.BusStop>

@{
    ViewBag.Title = "Index";
}

<h2>ПРЕГЛЕД НА ПОСТОЈКИ</h2>

<div class="form-group">
    <div>
        <input type="submit" value="Додади нова постојка" onclick="location.href='@Url.Action("Create", "BusStops")'" class="btn btn-primary" />
    </div>
</div>

<table class="table" id="stopsTable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                </td>

            </tr>
        }
    </tbody>

</table>
<!--
@section Scripts{
    <script>
        $(document).ready(function () {
            $("#stopsTable").DataTable();

            $(".btn-block").click(function () {
                //var proba = "\"#mModal_" + $(this).attr("data_id") + "\"";
                //console.log(proba);
                var url = $("#mModal_" + $(this).attr("data_id")).data("url");
                console.log(url);
                $.get(url, function (data) {
                    $("#mModal_1").html(data);
                    $("#mModal_1").modal("show");
                });
            });

        });
    </script>

}
